body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}


.button{
	background-color: yellow;
	height: 50;
	width: 150;
	font-size: medium;
	
	
}

.textAboutme {
	background-color: rgb(250, 250, 250);
	border: 2px solid ;
	padding: 10;
}

.extraInfo {
	background-color: bisque;
	border: 2px solid;
}




/* #about {
	background-color: aliceblue;
	padding: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
	
} */

#profilePhoto{
	border: 1px solid;
	
	/* border-radius: 50%; */
}


#basicInfo{
	border: 2px solid rgb(0, 27, 66);
	border-collapse: collapse;
	height: 210;
	width: 300;
	
	
}


.top{
	background-color: rgb(250, 250, 250);
	display: flex;
	flex-direction: row;
}

.name{
	padding-left: 60;
}

#goal,#interest,#skills,#extra{
	border: 1px solid;
	align-content: center;
	align-self: center ;
	align-items: center;
}




